body .main{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}
body{
    background-color: #efefef;
}
/*.row .left-model{*/
/*     border-right: #efefef dashed 2px;*/

/* }*/
/*.row .right-model{*/
/*    border-left: #efefef dashed 2px;*/

/*}*/
/*.main .line-right{*/
/*    display:-webkit-flex;*/
/*    align-items:stretch;*/
/*}*/
.community-edit{
    color: #999;
    font-size: 13px;
}


