.main{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}
body{
    background-color: #efefef;
}
.form-btn{
    margin-bottom: 40px;
    float: right;
}
 .form-group .remind{
     color: red;
     margin-left: 10px;
 }
.row .left-model{
    border-right: #efefef dashed 2px;

}

