<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码农社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/navPublic.css">
    <link rel="stylesheet" href="/css/publish.css">
    <link rel="stylesheet" href="/css/input_tags.css">
    <script src="/js/jquery.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/input_tags.js"></script>



</head>

<body>
<!--头部-->
<div th:replace="nav::nav"></div>
<!--主题部分-->
<div class="container-fluid main">
    <div class="row line-right">
        <!--left-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 left">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span th:text="${actionName}"></span></h2>
            <hr/>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <span class="remind" th:errors="${questionDTO.title}"></span>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题" th:value="${questionDTO.title}"/>
                </div>
                <div class="form-group">
                    <label for="description">问题补充（参考右栏指南）:</label>
                    <span class="remind" th:errors="${questionDTO.description}"></span>
                    <textarea  id="description" name="description"  class="form-control" rows="12" th:text="${questionDTO.description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">添加标签:</label>
                    <span class="remind" th:errors="${questionDTO.tags}"></span>
                    <DIV class="input_box" id="tags" onclick="showORHide()">

                        <INPUT name="tags" class="input_tags form-control" type="text" placeholder="输入后回车添加标签" th:value="${questionDTO.tags}">
                    </DIV>
                    <div id="nav-tags" hidden="hidden" style="margin-top: 15px;">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">开发语言</a></li>
                            <li role="presentation"><a href="#two" aria-controls="profile" role="tab" data-toggle="tab">平台架构</a></li>
                            <li role="presentation"><a href="#three" aria-controls="profile" role="tab" data-toggle="tab">服务器</a></li>
                            <li role="presentation"><a href="#four" aria-controls="profile" role="tab" data-toggle="tab">数据库</a></li>
                            <li role="presentation"><a href="#five" aria-controls="profile" role="tab" data-toggle="tab">开发工具</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="one">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tags-item-list">
                                <span  th:each="tag:${tagsDTO.language.split(',')}" class=" tags-case" onclick="tapTags(this)"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span th:text="${tag}"></span></span>
                                </div>
                                </div>
                            <div role="tabpanel" class="tab-pane" id="two">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tags-item-list">
                                <span  th:each="tag:${tagsDTO.framework.split(',')}" class=" tags-case" onclick="tapTags(this)"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span th:text="${tag}"></span></span>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="three">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tags-item-list">
                                <span  th:each="tag:${tagsDTO.server.split(',')}" class=" tags-case" onclick="tapTags(this)"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span th:text="${tag}"></span></span>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="four">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tags-item-list">
                                <span  th:each="tag:${tagsDTO.database.split(',')}" class=" tags-case" onclick="tapTags(this)"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span th:text="${tag}"></span></span>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="five">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tags-item-list">
                                <span  th:each="tag:${tagsDTO.tool.split(',')}" class=" tags-case" onclick="tapTags(this)"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <span th:text="${tag}"></span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <input th:hidden="true" type="text" name="id"  th:value="${questionDTO.id}">
                <input  th:hidden="true" type="text"  name="creator"  th:value="${questionDTO.creator}">
                <button type="submit" class="btn btn-success form-btn" th:text="${actionName}"></button>
            </form>

        </div>

        <!--right-->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 right">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br/>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br/>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br/>
        </div>
    </div>
</div>

</body>
<SCRIPT>
    //初始化并调用$.FreeTags()  传入参数为 id
    /**
     HTML：

     <div class="input_box" id="tags">
     <input type="text" class="input_tags" name="tags" value="测试,标签,Tags,Input,value" placeholder="请输入文字" />
     </div>

     JS:
     $.FreeTags('tags');
     */
    $(document).ready(function(e){
        $.FreeTags('tags');
    });
</SCRIPT>
</html>